
@{
    ViewBag.Title = "Ingresar";
}

<!DOCTYPE html>
<html>
<head>
    <title>Ingreso de Usuario</title>
</head>



<body>

    <h2>Ingreso de Usuario:</h2>

    <div class="form-horizontal">
        <form action="/home/Menu" method="post">
            <p>Usuario: <input type="type" name="User" value=""/>
            <p>Contraseña: <input type="type" name="Password" value="" />

            <button>Enviar</button>
        </form>
    </div>

</body>
</html>

