
@{
    ViewBag.Title = "Registrarse";
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h2>Ingrese su información personal:</h2>


    <div class="row">
        <div class="col-md-5">
            <h2>Registro de empleado: </h2>

            <!-- <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p> -->



            <form action="/home/registrarse" method="post">
                <p>Rut:                 <input type="type" name="email" value="" />
                <p>Nombre:              <input type="type" name="email" value="" />
                <p>Apellido:            <input type="type" name="email" value="" />
                <p>Género:              <input type="type" name="email" value="" />
                <p>Fecha de Nacimiento: <input type="type" name="email" value="" />
                <p>Email:               <input type="type" name="email" value="" />
                <p>Telefono:            <input type="type" name="email" value="" />
                <p>Dirección:           <input type="type" name="email" value="" />
                <p>Profesión:           <input type="type" name="email" value="" />
                <p>Años de experiencia: <input type="type" name="email" value="" />
                <p>
                    Fotografia:          <input type="type" name="email" value="" />

            <button>Enviar</button>
            </form>

        </div>

    </div>
</body>
</html>




